In [14]:
import pandas as pd
import numpy as np

# Step 1: Load the CSV file
df = pd.read_csv('../datasets/owid-covid-data.csv')

# Step 2: Filter by date range
df['date'] = pd.to_datetime(df['date'])
df = df[(df['date'] >= '2020-01-05') & (df['date'] <= '2023-05-11')]

# Step 3: Drop the date column
df.drop('date', axis=1, inplace=True)

# Step 4: Replace NaN/empty values with 0
df.fillna(0, inplace=True)

# Assuming 'location' is the column identifying countries, modify as necessary
# Step 5: Select numeric columns for summation, keeping the country column
numeric_cols = df.select_dtypes(include=[np.number]).columns.tolist()
cols_to_sum = ['location'] + numeric_cols

# Filter the DataFrame to include only the columns to sum
df_numeric = df[cols_to_sum]

# Step 6: Group by country and sum only the numeric columns
country_totals = df_numeric.groupby('location').sum()

# Step 7: Reset the index if you want 'location' as a column, not the index
country_totals.reset_index(inplace=True)

# Save the result to a new CSV file or display it
output_path = '../datasets/country_covid_totals.csv'  # Adjust the path as needed
country_totals.to_csv(output_path, index=False)

# Optional: Display the first few rows to verify
country_totals.head()

,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,Afghanistan,1.425694e+08,216756.0,2.162200e+05,5890029.0,7897.0,7895.580,3.466415e+06,5270.172,5257.128,...,0.0,46163.358,611.50,79287.09,624.953,5.030049e+10,0.00000,0.00,0.00,0.000000
1,Africa,8.697508e+09,13086366.0,1.308546e+07,190122922.0,258922.0,258916.557,6.096085e+06,9172.242,9171.643,...,0.0,0.000,0.00,0.00,0.000,1.744899e+12,0.00000,0.00,0.00,0.000000
2,Albania,2.047494e+08,334090.0,3.340900e+05,2694582.0,3604.0,3604.062,7.203605e+07,117541.384,117541.368,...,62617.6,0.000,3534.47,96091.11,972.285,3.476155e+09,404535.16508,901.41,833.96,142149.783413
3,Algeria,1.987760e+08,271765.0,2.717498e+05,5305937.0,6881.0,6881.014,4.426764e+06,6052.243,6051.862,...,37179.2,102415.243,2323.70,94024.24,914.804,5.491665e+10,210027.30007,137.11,326.13,4833.584350
4,American Samoa,3.127017e+06,8331.0,8.330436e+03,12875.0,34.0,34.006,7.059526e+07,188079.923,188066.985,...,0.0,0.000,0.00,90184.02,0.000,5.417278e+07,0.00000,0.00,0.00,0.000000